<div data-hook="admin_user_form_fields" class="row">
  
  <div class="alpha eight columns">
    <%= f.field_container :title do %>
      <%= f.label :title, t(:title) %>
      <%= f.text_field :title, :class => 'fullwidth' %>
      <%= error_message_on :posts, :title %>
    <% end %>

    <%= f.field_container :meta_keywords do %>
      <%= f.label :meta_keywords, t(:meta_keywords) %>
      <%= f.text_field :meta_keywords, :class => 'fullwidth' %>
      <%= error_message_on :posts, :meta_keywords%>
    <% end %>

  </div>
  
  <div class="omega eight columns">
    <%= f.field_container :permalink do %>
      <%= f.label :permalink, t(:permalink) %>
      <%= f.text_field :permalink, :class => 'fullwidth' %>
      <%= error_message_on :posts, :permalink%>
    <% end %>
    

    <%= f.field_container :meta_description do %>
      <%= f.label :meta_description, t(:meta_description) %>
      <%= f.text_field :meta_description, :class => 'fullwidth' %>
      <%= error_message_on :posts, :meta_description%>
    <% end %>
  </div>

  <div class="alpha sixteen columns">
    <%= f.field_container :body do %>
      <%= f.label :body, t(:body) %>
      <%= f.text_area :body, :class => 'fullwidth' %>
      <%= error_message_on :posts, :body %>
    <% end %>

 </div>


 <div class="alpha sixteen columns">
    <%= f.field_container :published do %>
      <%= f.label :published, t(:published) %>
      <%= f.check_box :published, :class => 'fullwidth' %>
      <%= error_message_on :posts, :published %>
    <% end %>
 </div>
  
</div>